*, *::before, *::after {
	margin: 0;
	padding: 0;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
   text-decoration: none;
}

body {
   max-width: 1600px;
	background: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	color: #333B41;
}

header {
   /* display: flex; */
   /* flex-direction: row; */
   width: 100%;
   background: #000000;
   color: #FFFFFF;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 140%;
   backdrop-filter: blur(2px);
}

.header-content {
   display: grid;
   grid-template-columns: 82px 1fr 106px;
   align-items: center;
   width: 1160px;
   height: 80px;
   margin: 0 auto;
}

.header-nav ul {
   display: flex;
   flex-direction: row;
}

.header-nav ul li {
   height: 22px;
   margin-left: 58px;
   list-style-type: none;
}

.header-nav__link {
   color: #FFFFFF;
}

.main {
   background-image: url(../../assets/imgs/Ellipse\ 6.png), url(../../assets/imgs/Giant\ Panda.png);
   background-repeat: no-repeat;
   background-position: 807px 12px, 0% -80px;
}

.main-content {
   position: relative;
   width: 1160px;
   height: 700px;
   margin: 0 auto;
}

.main-text {
   position: absolute;
   right: 0;
   top: 86px;
}

.main-text h1 {
   width: 500px;
   height: 400px;
   font-weight: 700;
   font-size: 106px;
   line-height: 75%;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
}

.main-text h1 span {
   color: #FFEE2E;
}

.main-button,
.description-button,
.donate-button {
   color: #ffffff;
   margin: 60px auto 0;
   width: 298px;
   height: 54px;
   border-radius: 27px;
   background-image: linear-gradient(#F9804B 0%, #FE9013 100%);
}

.button {
   display: block;
   width: 298px;
   height: 54px;
   border-radius: 27px;
   line-height: 54px;
   text-align: center;
   color: #ffffff;
   text-transform: uppercase;
   font-size: 16px;
}

.description {
   height: 1830px;
   padding-top: 140px;
   background-image: url(../../assets/imgs/flower_foto1.png), url(../../assets/imgs/strelitzia\ 1.png), url(../../assets/imgs/palm_foto.png);
   background-repeat: no-repeat;
   background-position: 100% 15px, 100% 100%, 0% 100%;
}

.description-content {
   margin: 0 auto;
   width: 1160px;
}

.article {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   height: 400px;
}

.article-content {
   width: 465px;
}

.article-content h2 {
   font-size: 48px;
   font-weight: 400;
   line-height: 58px;
   line-height: 120%;
   margin-bottom: 25px;
}

.article-content p {
   font-size: 16px;
   font-weight: 400;
   line-height: 21px;
   line-height: 130%;
   margin-bottom: 55px;
}

.article-content h4 {
   font-size: 24px;
   font-weight: 400;
   line-height: 29px;
   line-height: 120%;
   margin-bottom: 35px;
}

.slider {
   width: 100%;
   height: 882px;
   margin: 180px auto 80px;
   position: relative;
}

.slider-button {
   position: absolute;
   color: #ffffff;
   width: 62px;
   height: 62px;
   border-radius: 50%;
   background-image: linear-gradient(#F9804B 0%, #FE9013 100%);
}

.slider-button-left {
   left: -82px;
   top: calc(100% / 2 - 31px);
}

.slider-button-right {
   right: -82px;
   top: calc(100% / 2 - 31px);
}


.slider-button .button {
   display: block;
   width: 62px;
   height: 62px;
   border-radius: 50%;
   line-height: 54px;
}

.slider-button img {
   position: relative;
   top: 5px;
}

.slide {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 30px;
}

.card {
   width: 366px;
   height: 426px;
   border: 1px solid;
   border-color: orange;
   border-radius: 5px;
   overflow: hidden;
}

.card-link {
   display: block;
   padding-bottom: 10px;
   color: #000000;
}

.card-description {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 4px 8px 0 16px;
}

.card h4 {
   font-style: medium;
   font-weight: 600;
   font-size: 16px;
   line-height: 22px;
   line-height: 140%;
   text-transform: uppercase;
}

.card p {
   font-style: light;
   font-weight: 300;
   font-size: 15px;
   line-height: 18px;
   line-height: 120%;
}

.description-button {
   margin-top: 80px;
}

.donate {
   height: 1004px;
   padding-top: 69px;
   background-image: url(../../assets/imgs/section4_pick-and-feed.png);
}

.donate-content {
   width: 1160px;
   height: 835px;
   border-radius: 20px;
   margin: 0 auto 100px;
   padding: 40px 100px 0;
   background-color: rgba(253, 253, 255, 0.52);
   backdrop-filter: blur(4px)
}

.donate h2 {
   font-size: 48px;
   line-height: 58px;
   font-weight: 400;
   text-align: center;
   color: #FE9013;
   margin: 0 auto 30px;
}

.donate h4 {
   font-weight: 400;
   font-size: 24px;
   line-height: 29px;
   margin-bottom: 35px;
}

.donate p:nth-of-type(1) {
   font-weight: 500;
   font-size: 16px;
   line-height: 21px;
}

.donate p:nth-of-type(2) {
   font-weight: 400;
   font-size: 16px;
   line-height: 21px;
   margin: 10px auto 60px;
}

.donate h3 {
   font-weight: 400;
   font-size: 36px;
   line-height: 47px;
   text-align: center;
   margin-bottom: 40px;
}

.donate .container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 0 100px;
}

.donate-card {
   width: 168px;
   height: 244px;
}

.donate-card-img {
   width: 168px;
   height: 168px;
   border-radius: 5px;
   border: 1px solid orange;
   background-color: #ffffff;
   display: flex;
   justify-content: center;
   align-items: center;
}

.donate-card p {
   margin-top: 30px;
}

.donate-arrow {
   margin-top: 61px;
}

.donate-button {
   margin-top: 50px;
}