* {
	margin: 0;
	padding: 0;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	color: #333B41;
}

header {
   max-width: 1600px;
   height: 80px;
   background: #000000;
   backdrop-filter: blur(2px);
}